<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" type="text/css" href="{{resPath}}/genshin/talentList/talentList.css?v=1.0" />
  <link rel="preload" href="{{resPath}}/font/tttgbnumber.ttf" as="font">
  <link rel="preload" href="{{resPath}}/genshin/talentList/hart.png" as="image">
  <link rel="preload" href="{{resPath}}/genshin/talentList/crown.png" as="image">
  <script type="text/javascript">
    function whenError(a, type) {
      a.onerror = null;
      a.src = "{{resPath}}/genshin/logo/side/荧.png";
    }
  </script>
</head>

<body id="container" class="body_box">
  <div class="container {{displayMode}}_mode">
    <div class="info_box">
      <div class="head_box type{{bgType}}">
        <div class="id_text">
          ID: {{uid}}
        </div>
        <div class="lable">共{{avatars.length }}名角色</div>
        <img class="genshin_logo" src="{{resPath}}/genshin/roleCard1/原神.png" />
      </div>

      <div class="data_box">
        <div class="tab_lable for_talent">角色技能列表</div>
        <div class="tab_lable for_weapon">角色详情列表</div>
        <div class="talent_list">
          <div class="avatar th">
            <div class="index">#</div>
            <div class="name">
              角色
            </div>
            <div class="lvl">等级</div>
            <div class="fetter">好感</div>
            <div class="cons">命座</div>

            <div class="talent">普攻</div>
            <div class="talent">技能</div>
            <div class="talent">爆发</div>
            <div class="weapon for_weapon">武器</div>
            <div class="talent_res for_talent">天赋素材(周)</div>
          </div>
          {{each avatars avatar idx}}
          <div class="avatar">
            <div class="index star{{avatar.star}}">{{idx+1}}</div>
            <div class="name_cont star{{avatar.star}}">
              <div class="name">
                <div class="avatar_img">
                  <img src="{{avatar.icon}}" onerror="whenError(this)" />
                </div>
                <div class="avatar_name"> {{avatar.name}} </div>
              </div>
            </div>
            <div class="lvl lvl{{avatar.lv}}">{{avatar.lv}}</div>
            <div class="fetter fetter{{avatar.fetter}}">{{avatar.fetter}}</div>
            <div class="cons"><span class="life{{avatar.life}}">{{avatar.life}}</span></div>
            <div class="talent lv{{avatar.skill.a}}">{{avatar.skill.a}}</div>
            <div class="talent lv{{avatar.skill.e}} {{avatar.e_plus ? 'talent_plus':''}}">{{avatar.skill.e}}</div>
            <div class="talent lv{{avatar.skill.q}} {{avatar.q_plus ? 'talent_plus':''}}">{{avatar.skill.q}}</div>
            <div class="weapon for_weapon weapon_{{avatar.weapon?.star}}">
              {{if avatar.weapon}}
              <div class="weapon_box">
                <span class="weapon_lv">Lv{{avatar.weapon.lv}}</span>
                <span class="weapon_alv weapon_alv_{{avatar.weapon.alv}}">{{avatar.weapon.alv}}</span>
                <img src="{{avatar.weapon.icon}}" />
                <span class="weapon_name">{{avatar.weapon.name}}</span>
              </div>
              {{/if}}
            </div>
            <div class="talent_res for_talent {{avatar.talent?.week == nowWeek ? 'today_talent':''}}">
              {{if avatar.talent}}
              <img src="{{resPath}}/genshin/logo/talent/{{avatar.talent.name}}_4.png" />
              {{avatar.talent.name}}({{avatar.talent.week}},{{avatar.talent.week}})
              {{else}}
              -
              {{/if}}
            </div>

          </div>
          {{/each}}
        </div>
        <p class="talent_notice">{{talentNotice}}</p>
      </div>
      <div class="logo"> Created By Yunzai-Bot & Miao-Plugin</div>
    </div>
  </div>

</body>

</html>