<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <link rel="shortcut icon" href="#" />
  <link rel="stylesheet" type="text/css" href="{{resPath}}/genshin/today/today.css?v=1.0" />
  <link rel="preload" href="{{resPath}}/font/tttgbnumber.ttf" as="font">
</head>

<body>
  <style></style>
  <div class="container" id="container">
    <div class="main_box">
      <div class="base_info">
        <div class="id">
          <span>ID：{{uid}}</span>
        </div>
        <div class="day">
          <span>{{day}}</span>
        </div>
      </div>
      {{each todayData temp}}
      <div class="ele_info">
        <div class="area">
          <img class="tab-item-icon" src="{{resPath}}/genshin/roleCard2/{{temp.area}}.png" />
          <div class="tab-item-left"></div>
          <div class="tab-item-middle"></div>
          <div class="tab-item-text">{{temp.area}}</div>
          <div class="tab-item-right"></div>
        </div>
        <div class="ele_box">
          <div class="ele_name">{{temp.material.name}}</div>
          <div class="ele_img">
            <div class="img_item">
              <img src="{{resPath}}/genshin/logo/talent/{{temp.material.name}}_4.png" />
            </div>
            <div class="img_item">
              <img src="{{resPath}}/genshin/logo/talent/{{temp.material.name}}_3.png" />
            </div>
            <div class="img_item">
              <img src="{{resPath}}/genshin/logo/talent/{{temp.material.name}}_2.png" />
            </div>
          </div>
        </div>
        <div class="tab-line"></div>
      </div>
      {{ if temp.roles}}
      <div class="item_box">
        {{each temp.roles val}}
        <div class="item">
          <div class="role_box">
            {{ if val.life>0}}
            <span class="life life{{val.life}}"> {{val.life}}命</span>
            {{/if}}
            <div class="bg{{val.star}}"></div>
            <img class="role_img" src="{{val.icon}}" onerror="whenError(this)" />
            <div class="desc">Lv.{{val.lv}}</div>
            <div class="role_name">{{val.name}}</div>
          </div>
        </div>
        {{/each}}
      </div>
      {{/if}}
      {{ if temp.weapons}}
      <div class="weapon_box">
        {{each temp.weapons val}}
        <div class="weapon_item">
          <span class="weapon_user">
            <img class="user_img" src="{{val.avatarIcon}}" />
          </span>
          <div class="weapon_role_box">
            {{ if val.life>1}}
            <span class="life life{{val.life}}">
              {{val.life}}
            </span>
            {{/if}}
            <div class="weapon_bg{{val.star}}"></div>
            <img class="weapon_role_img" src="{{val.icon}}" />
            <div class="desc_1">Lv.{{val.lv}}</div>
            <img class="fill_img" src="{{resPath}}/genshin/roleCardLife/fill.png" />
          </div>
          <div class="role_name">{{val.showName}}</div>
        </div>
        {{/each}}
      </div>
      {{/if}}
      {{/each}}
    </div>
    <div class="explain">*根据你所拥有的角色查询今天可升天赋角色</div>
  </div>
</body>
<script type="text/javascript">
  function whenError(a) {
    // a.onerror = null;
    // a.src = "{{resPath}}/genshin/logo/role/荧.png";
  }
</script>

</html>